@model MusicStore.Models.AlbumModel
@{
    ViewBag.Title = "AlbumTracks";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<h2 style="text-align:center;">@Html.DisplayFor(model => model.Title)</h2>

<div class="row justify-content-center" style="margin-top: 50px;">
    @{
        for (int i = 0; i < Model.tracksModel.Count(); i++)
        {
            <div class="card-deck" style="margin: 10px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Content/img/wallpaper all.jpg" alt="card img cap" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => model.tracksModel[i].Name)</h5>
                        @Html.ActionLink("Go", "Track", "Store", new { @idTrack = Model.tracksModel[i].TrackId}, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    }
</div>