@model List<MusicStore.Models.GenreModel>
@{
    ViewBag.Title = "Genres";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<h2 style="text-align:center;">Genres</h2>

<div class="row justify-content-center" style="margin-top: 50px;">
    @{
        foreach (var genre in Model)
        {
            <div class="card-deck" style="margin: 10px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Content/img/wallpaper all.jpg" alt="card img cap" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => genre.Name)</h5>
                        @Html.ActionLink("Go", "MusicGenre", "Store", new { idGenre = genre.GenreId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    }
</div>